<nav>

<div class="navbar">

    <span class="navlink"><a href="/">Home</a></span>
    <span class="navlink"><a>Browse</a></span>
    
        <a href="/"> 
            <img id="logoimg" src="/newlogo.png">
        </a>
    <span class="navlink"><a>In Memoriam</a></span>
    <span class="navlink"><a href="/users/login">Login</a></span>
    
    

</div>  

<hr>
      
    
  </nav>