@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");

html,body{
    margin: 0 ;
    padding: 0;  
}

body{
    background-color: black;
    color: whitesmoke;
}


#logoimg{
    width: 130px;
    position: relative;
    top: -10px;
    margin-left: 0px;
    margin-right: 80px;
    
}

a{
    color: whitesmoke;
    text-decoration: none;
}

.navlink{
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 15px;
    font-size: xx-large;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;

}

.navbar{
    justify-content: center;
    text-align: center;
    background-color: black;
    height: 120px;
    padding: 0 0 0 0;
     
}

hr{
    width: 95%;
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.gametop{
    margin-left: 100px;

}

.row-name{
    font-family: 'Recursive', sans-serif;
}

#gamename,#devname,#rating{
    font-family: 'Francois One', sans-serif;
}

#gamename{
    font-size: 80px;
}
#devname{
    font-size: 30px;
    color: rgb(167, 167, 167);
}
#rating{
    color: rgb(190, 189, 189);
    border-radius: 100px;
    font-size: 60px;
    padding: 10 10 10 10;
    margin-top:200px;
}

#aboutgame{
    font-size: 20px;
}

#searchquery{
    width:95%;
    margin-left: 35px;
    margin-right: 15px;
    border-radius: 8px;
    height: 40px;
}
#searchbtn{
    border-radius: 10px;
    font-size: 20px;
    margin-left: 35px;

}
 .card{
    border:2px solid black;
}
/*
.card:hover{
    transform: translate3d(-1px,-2px,0px);
    -webkit-box-shadow: 0px 0px 35px -7px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 35px -7px rgba(255,255,255,1);
    box-shadow: 0px 0px 35px -7px rgba(255,255,255,1);


} */

body{
    margin: 0;
    font-family: 'Francois One', sans-serif;
}

